body {
  background-color: #3a3b3c;
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
}

.Block_one {
  padding: 2%;
  width: 93vw;
  height: 50vh;
  color: #e4e6eb;
  text-align: center;
}

.Block_two {
  float: left;
  width: 40vw;
  height: 50vh;
  background-color: green;
}
footer {
  background-color: #e4e6eb;
  color: #3a3b3c;
  position: absolute;
  left: 0;
  bottom: 1vh;
  width: 100%;
}
.Heading > h1 {
  font-size: 3em;
  text-shadow: 5px 8px 15px black;
}
.Main {
  font-size: 3.5em;
}
.form-control {
  background-color: #e4e6eb;
}
